body {
    background-color: #15232C;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #15232C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: #B05454;
    font-family: "VT323", monospace;
    box-sizing: border-box;
    font-style: italic;
    letter-spacing: 3px;
    margin-top: 50px;
}
.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    color: #15232C;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-family: "VT323", monospace;
    padding: 20px 50px;
    margin-bottom: 20px;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 2px;
    min-width: 300px;
    overflow: hidden;
}
.block span {
    margin-right: 70px;
}
.block-list{
    margin-top: 100px;
    padding-inline: 5rem;
}
.block-category{
    min-width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: "VT323", monospace;
    font-size: 25px;
    overflow: hidden;
    padding: 20px 50px;
}
.block-category p {
    margin: 1rem;
    justify-content: center;
    text-align: center;
    
}
.square {
      height: 25px;
      width: 25px;
      display: inline-block;
    margin-left: 3rem;
    display: block;
}
.square-category {
    justify-content: flex-end;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.title p {
    margin-top: 0;
    margin-bottom: 0;
}

.block-width {
    min-width: 690px;
    max-width: 780px;
}

.square-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.title-container {
    flex: 2.3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tick-mark-blue {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-inline: 1.1rem;
}

#tick-mark-blue::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #418BD0;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark-blue::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #418BD0;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark-pink {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-inline: 1.1rem;
}

#tick-mark-pink::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #D04197;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark-pink::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #D04197;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark-orange {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-inline: 1.1rem;
}

#tick-mark-orange::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #D07541;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark-orange::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #D07541;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}